<article>
    <header>
        <h1>Gedetailleerde Twitter pagina</h1>
        <p>Onze Belgen zijn actiever en actiever in het buitenland. Dikwijls niet zomaar als figuranten, maar als sterren van hun team! Hier kan je elk van hen op een gemakkelijke manier volgen. Zie hoe ze week na week het verschil maken in alle Europese competities.</p>
    </header>
    <section>

        </section>
        <section>

        </section>
        <footer>

        </footer>
    </article>

    <aside>
        <a class="twitter-timeline" href="https://twitter.com/BeFootInt/befootint" data-widget-id="381402644859727872">
                Met een internetverbinding zie je hier de meest recente tweets van onze Belgen.</a>
    </aside>