<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="beFootInt">
<!--<![endif]-->
<head ng-controller="HeadController">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title ng-bind-template="{{labels.title}}">BeFootInt</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />-->
</head>

<body ng-controller="AppController">
	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

	<div class="header-container" ng-controller="HeaderController">
		<header class="wrapper clearfix">

            <div class="title" style="display: inline; width: 60%;">

            <h1 data-i18n="Header_Title_1" style="display: inline">BeFoot
				Int.</h1>
            <div style="float: right; display: inline; padding-top: 5px; font-size: 15px;">
                <a href="#" style="color: #ffffff;" ng-click="setDutchLanguage()" ng-bind-template="{{labels.dutch}}">NL</a>
                |
                <a href="#" style="color: #ffffff;" ng-click="setEnglishLanguage()" ng-bind-template="{{labels.english}}">EN</a>
                |
                <a href="#" style="color: #ffffff;" ng-click="setFrenchLanguage()" ng-bind-template="{{labels.french}}">FR</a>
            </div>
            </div>
			<nav>
				<ul>
					<!--<li ng-repeat="tab in tabs">
                            <a href="#/view{{$index+1}}" ng-bind-template="{{tab}}">Item</a>
                        </li>-->
					<li><a href="#/tweets" ng-bind-template="{{'Header_Nav_Tab_1' | i18n }}">Item</a>
					</li>
					<li><a href="#/stats" ng-bind-template="{{'Header_Nav_Tab_2' | i18n }}">Item</a>
					</li>
					<li><a href="#/unknown" ng-bind-template="{{'Header_Nav_Tab_3' | i18n }}">Item</a>
					</li>
				</ul>
			</nav>
		</header>
	</div>

	<!-- #main-container -->
	<div class="main-container" ng-controller="ContainerController">
		<div class="main wrapper clearfix" ng-view></div>
		<!-- #main -->
	</div>
	<!-- #main-container end -->

	<div class="footer-container" ng-controller="FooterController">
		<footer class="wrapper">
			<h3 ng-bind-template="{{'Footer_Title_1'| i18n }}"></h3>
		</footer>
	</div>

<!-- default script for this framework..jquery for carousel -->
    <script
		src="js/vendor/jquery-1.10.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

	<!-- Vendor Libs -->
	<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="js/vendor/twitter.js"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<!-- In production use:
                <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
            -->


	<!-- Angular App libs -->
	<script src="js/main.js"></script>
    <script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/app.js"></script>
	<script src="js/factory.js"></script>
	<script src="js/directives.js"></script>
    <script src="js/localize.js"></script>


</body>
</html>
